* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#board {
    width: 800px;
    height: 800px;
    background-color: rgba(93, 88, 88, 0.2);
    margin-top: 20px;
    padding : 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 10%;
    width: 10%;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_pic {
    width: 80%;
    height: 80%;
}

.square:hover {
    cursor: pointer;
    border: 5px solid #FFD65A;
}

.selected {
    background-color: #FFF574;
}